

.container {
    padding: 100px;
    
}

  
.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.footer a {
    color: white;
    margin: 0 10px;
}
.footer a:hover {
    color: #ddd;
}
.fab.fa-linkedin {
    color: #0077B5;
}
.fab.fa-twitter {
    color: #1DA1F2;
}
.fab.fa-github {
    color: #333333;
}

.form-control {
    width: 70%;
    max-width: 500px; /* Optionally, you can set a maximum width */
    border-radius: 10px; /* Adjust the value as needed for rounded corners */
    
}

.form-control::placeholder {
    color: #999; /* Adjust the color of the placeholder text */
}

.container {
    padding: 100px;
}

#submit {
    background-color: black;
    color: white;
    border: none; /* Optionally, to remove default button border */
    border-radius: 15px; /* Optionally, add border radius for rounded corners */
}

